*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Temp files
*~

app.properties
# Maven, Netbeans, Idea
*.iml
build.xml
build/
.idea/
manifest.mf
nb-configuration.xml
nbactions.xml
nbproject/
target/
